/* PANEL */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: 'Inter',sans-serif;
}

body {
    margin:0;
    background-color: #eee;
}

.maincontainer {
    display:flex;
}

header {
    color:white;
    text-align:center;
    display:grid;
    align-items: center;
    background-image:radial-gradient(ellipse at bottom, #0077ff,#000283);
    height:30vh;
    width:100%;
    border-radius: 7vh;
    margin:4vh;
}

header h1{
    font-size:7vh;
    margin-bottom:0;
}

header h2{
    font-size:3vh;
    font-weight: 400;
}

.navcontainer {
    width:30%;
    height: 100vh;
    overflow: hidden;
    background-color: white;
}

nav {
    width:100%;
    display:grid;
    gap:2vh;
}

nav hr{
    width:90%;
}

nav h1{
    margin-bottom:0;
    margin-left:4vh;
    font-size:xx-large;
}

nav a {
    text-decoration: none;
}

nav a div {
    margin-left:4vh;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
}

nav a div img {
    height:3vh;
    object-fit: cover;
}

nav a div button {
    border-radius: 0px 2vh 2vh 0px;
    padding:2vh;
    text-align: left;
    border:none;
    background-color: white;
    font-size: 3vh;
    transition:0.1s ease-in-out;
    cursor: pointer;
}

nav a div button:hover{
    transition:0.1s ease-in-out;
    color:#888
}

.formaccount {
    width: 100%;
    margin-left:2vh;
}

form {
    display:grid;
    gap:1vh;
}

form label {
    font-size:large;
}

form input {
    width:50vh;
    border:none;
    padding:1vh;
    font-size:medium;
}

#submitbtn {
    border:none;
    padding:2vh;
    color:white;
    background-color: #888;
    border-radius:1vh;
    margin-top:2vh;
    font-size:3vh;
    transition:0.1s ease-in-out;
}

#submitbtn:hover{
    transition:0.1s ease-in-out;
    background-color: #aaa;
}