@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: 'Inter',sans-serif;
}

body {
    margin:0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color:white;
    margin-top:-3vh;
    padding-bottom:-1vh;
}

nav a{
    font-size: medium;
    display:inline-block;
    position:relative;
    text-decoration: none;
    color:white;
}

nav a::after{
    content: '';
    position: absolute;
    translate: 50% 0;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    bottom:0;
    left: 0;
    background-color: white;
    transition: transform 0.2s ease-out;
}

nav a:hover::after{
    transform:scaleX(1);
    transition:0.2s;
}

#activepage {
    border-radius: 2vh;
    background-color: white;
    color: #000cb8
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    font-size: 3vh;
}

nav ul li {
    display: inline-block;
    padding:2vh;
}

.mainimage{
    color:white;
    padding:3vh;
    text-align: center;
    background-image:radial-gradient(ellipse at bottom, #00e1ff,#000cb8);
}

@keyframes hoverDown {
    from {
        transform: translateY(-10vh);
        opacity: 0;
    }
    to {
        top:0%;
        opacity: 100%;
    }
}

.mainimage h1 {
    font-size: 8vh;
    animation: hoverDown 1s;
    animation-timing-function:ease-in-out;
}

.mainimage h2{
    font-weight: 300;
    margin-top:-4vh;
    margin-bottom:5vh;
    animation: hoverDown 1s;
    animation-timing-function:ease-in-out;
}

.mainimage button {
    animation: hoverDown 1s;
    animation-timing-function:ease-in-out;
}

.mainimage #start {
    width:25vh;
    color:white;
    background-color: #385779;
    padding:3vh;
    border:2px solid #043c79;
    font-size:2.5vh;
    border-radius: 2vh;
    transition:0.1s;
    cursor:pointer;
}

.mainimage #start:hover {
    color:white;
    background-color: #4e81b8;
    transition:0.1s;
}

.mainimage #start:active{
    transform:scale(0.95);
    transition:0.1s;
}

.mainimage #readmore {
    width:25vh;
    color:white;
    background-color: transparent;
    padding:3vh;
    border:2px solid white;
    font-size:2.5vh;
    border-radius: 2vh;
    transition:0.1s;
    cursor:pointer;
}

.mainimage #readmore:hover {
    background-color: #ffffff31;
    transition:0.1s;
}

.mainimage #readmore:active {
    transform:scale(0.95);
    transition:0.1s;
}

.functionnalities {
    display: flex;
    justify-content: space-between;
    margin:10vh;
    margin-left:30vh;
    margin-right:30vh;
    align-items: center;
    border-radius:4vh;
}

.functionnalities h2{
    position: relative;
    display:inline-block;
    margin:5vh;
    margin-bottom:-2vh;
    font-size:5vh;
    font-weight:800;
}

.functionnalities h2::after{
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    bottom:-1vh;
    left: 0;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.functionnalities h2:hover::after{
    transform-origin: bottom left;
    transform:scaleX(1);
    transition:0.25s;
}

.functionnalities p {
    margin:5vh;
    font-size:large;
}

.functionnalities img {
    height:60vh;
    border-radius: 4vh;
}

.functionnalities button{
    background-color: #333;
    color:white;
    border-radius: 1vh;
    border:none;
    padding:2vh;
    margin-left:5vh;
    text-align: center;
    font-size: 2vh;
    width:24vh;
    min-height:4vh;
    transition:0.1s;
}

.functionnalities button:hover{
    background-color: #4d4d4d;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    overflow: auto; /* Enable scroll if needed */
    transition: opacity 0.3s ease; /* Smooth opacity transition */
    opacity: 0; /* Initially hidden */
    text-align: center;
}

/* Modal content box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; /* Smooth scale transition */
    transform: scale(0.5); /* Initially scaled down */
}

.modal button {
    display:block;
    margin:auto;
    margin-bottom: 3vh;
    width:30%;
    border:none;
    padding:2vh;
    border-radius: 1vh;
    font-size:x-large;
}

/* Close button styling */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}