<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles-panel.css')}}">
</head>
<body>
    <div class="maincontainer">
        <div class="navcontainer">
            <nav>
                <h1>Panel</h1>
                <hr>
                <a href="{{url_for('panel')}}"><div>
                    <img src="../static/assets/nav/dashboard-icon.png">
                    <button style="color:#000283">Dashboard</button>
                </div></a>
                <a href=""><div>
                    <img src="../static/assets/nav/create-icon.png">
                    <button>Create a new quiz</button>
                </div></a>
                <a href=""><div>
                    <img src="../static/assets/nav/manage-icon.svg">
                    <button>Manage your quizzes</button>
                </div></a>
                <a href=""><div>
                    <img src="../static/assets/nav/account-icon.png">
                    <button>Account</button>
                </div></a>
                <a href="/logout"><div>
                    <img src="../static/assets/nav/logout-icon.png">
                    <button>Log out</button>
                </div></a>
            </nav>
        </div>
        <div class="formaccount">
            <h1>Account informations</h1>
            <form action="" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="{{username}}">
                <label for="email">E-Mail</label>
                <input type="text" id="email" name="email" value="{{email}}">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="{{password}}">
                <button type="submit" id="submitbtn">Update Informations</button>
            </form>
            <div style="margin-top:2vh">
                <input type="checkbox" onclick="showPassPanel()" id="showPass">Show Password
            </div>
            
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
