<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>QuizMate</title>
    
    
    </head>
    <body>
        <div class="welcome">
            <div class="mainimage">
                <header>
                    <h3>QuizMate</h3> 
                    <nav>
                        <ul>
                            <a href="#" id="activepage"><li>Home</li></a>
                            <a href="#"><li>Discover</li></a>
                            <a href="#"><li>Create</li></a>
                            <a href="{{url_for('signup')}}"><li>Sign up</li></a>
                        </ul>
                    </nav>
                </header>
                <h1>QuizMate</h1>
                <h2>The best website to create and discover quizzes.</h2>
                <div> 
                    <button id="start">Get Started</button>
                    <a href=""><button id="readmore">Read More</button></a>
                </div>
            </div>
            <div class="functionnalities">
                <div>
                    <h2>Create your own quizzes and share them with your friends!</h2>
                    <p>With QuizMate, you can quickly create your own quizzes and share them with friends! Design personalized quizzes by choosing questions and answers, then share them through a unique link. Whether for fun or learning, QuizMate makes sharing quizzes easy and interactive.</p>
                    <button>Create</button>
                </div>
                <img src="../static/assets/quiz00.jpg">
            </div>
            <div class="functionnalities">
                <img src="../static/assets/quiz01.jpg">
                <div> 
                    <h2>Discover new quizzes to test your knowledge!</h2>
                    <p>With QuizMate, discover a wide range of unique and original quizzes to test your knowledge! Whether you're into history, science, pop culture, or more, QuizMate offers engaging quizzes to challenge yourself and learn new things.</p>
                    <button>Discover</button>
                </div>
            </div>
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span id="closeModalButton" class="close-button">&times;</span>
                <h2>Choose what you want to do</h2>
                <button>Create a quiz</button>
                <button>Discover quizzes</button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>