<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles-panel.css')}}">
</head>
<body>
    <header>
        <h1>Welcome back, {{username}}</h1>
        <h2>The panel allows you to create and edit your quizzes.</h2>
    </header>

    

    <div class="panel-buttons">
        <div class="category">
            <h1>Create a quiz</h1>
            <button class="create-btn">Create Quiz</button>
            <button class="temp-btn">Start from template</button>
        </div>
        <!-- Placeholder for Manage Quiz Category section -->
        <div class="category" id="manage">
            <h1>Manage your quizzes</h1>
            <button>Edit Quiz</button>
            <button>Delete Quiz</button>
        </div>
    </div>
</body>
</html>
