<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>QuizMate</title>
    
    
    </head>
    <body class="signupbody">
        <div class="signupheader">
            <h2>QuizMate</h2>
        </div>
        
        <div class="loginform">
            <form method="post">
                <h1>Sign Up</h1>
                <p>Sign Up to create your own quizzes, or interact with the one you're interested in!</p> 
                <h3>E-Mail</h3>
                <input type="text" placeholder="Enter E-mail adress">
                <h3>Password</h3>
                <input type="text" placeholder="Enter a Password">
                <input type="text" placeholder="Confirm your Password">
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </body>
</html>