<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>QuizMate</title>
    
    
    </head>
    <body>
        <header>
            <h1>QuizMate</h1> 
            <nav>
                <ul>
                    <a href="#"><li>Home</li></a>
                    <a href="#"><li>Discover</li></a>
                    <a href="#"><li>Create</li></a>
                    <a href="#"><li>Sign up</li></a>
                </ul>
            </nav>
        </header>
    </body>
</html>